.annoucement-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e8edf2;
  background: #fff;
  padding: 21px;
}

.anc-title-cat-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.anc-title {
  display: flex;
  width: 100%;
  color: #121f0a;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.anc-round-card-con {
  display: flex;
  width: auto;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 33554400px;
  background: #fff4e5;
}

.anc-dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #e98c20;
}

.anc-label {
  color: #c4710a;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
}

.anc-mis {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  margin-top: 7px;
  margin-bottom: 12px;
}

.anc-date-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.anc-date {
  color: #62748e;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.anc-description {
  color: #62748e;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.75px;
}

@media (max-width: 575px) {
  .anc-description {
    font-size: 12px;
  }
  .anc-title {
    font-size: 14px;
  }
  .anc-label {
    font-size: 12px;
    white-space: unset;
  }
  .anc-date {
    font-size: 11px;
  }
}

.anc-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.anc-filter-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anc-filter-con span {
  color: #9aa5b8;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.anc-filter-con span:last-of-type {
  color: #62748e;
  font-weight: 500;
}
