.ttle-con {
  margin: 0 40px 33px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.ttle-con h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  white-space: nowrap;
  flex-shrink: 0;
}

.ttle-first {
  color: var(--primary);
}

.ttle-last {
  color: var(--background);
}

@media (max-width: 768px) {
  .ttle-active {
    display: flex;
  }
  .ttle-in-active {
    display: none;
  }
}

@media (max-width: 575px) {
  .ttle-con {
    margin: 0 15px 12px 15px;
  }
  .ttle-con h1 {
    font-size: 22px;
    line-height: 18px;
  }
}
