.it-anc-container {
  display: flex;
  gap: 25px;
  padding: 0px 40px;
  margin-bottom: 40px;
}

.it-anc-right-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.it-anc-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.it-anc-filter-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.it-anc-filter-con span {
  color: #9aa5b8;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.it-anc-filter-con span:last-of-type {
  color: #62748e;
  font-weight: 500;
}

@media (max-width: 768px) {
  .it-anc-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .it-anc-container {
    padding: 0px 15px;
    margin-bottom: 16px;
  }
}
