@import url("./static/fonts.css");

:root {
  --primary: #e98c20;
  --secondary: #79c151;
  --tertiary: #c17ae0;
  --light-red: #f8e2e2;
  --dark-red: #ff7d6a;
  --dark-blue: #336aea;
  --mint-green: #52d999;
  --cape-honey: #ffe6a7;
  --shiny-pearl: #fff6e5;
  --light-green: #e2f8e9;
  --background: #121f0a;
  --light-gray: #fafafa;
  --black-60: #00000099;
  --black-32: #00000052;
  --text-secondary: #62748e;
  --primary-light: #fff3e0;
  --background-color: #f2f2f2;
  --danger: #fb2c36;
  --info: #336aea; /* better than grey for info */
  --warning: #fe9a00;
  --body-font: Inter, system-ui, sans-serif;
  --heading-font: PlusJakartaSans, system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: var(--background-color);
  color: #111827;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.max-width-screen {
  max-width: 1440px;
  margin: auto;
  padding: auto;
}

p,
span,
a {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 80%;
}

.right-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  height: 100%;
  width: 80%;
}

body:has(.overlay) {
  overflow: hidden;
}

/* When screen becomes smaller */
@media (max-width: 992px) {
  .right-container-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .right-container {
    width: 100%;
  }
}

.custom-row {
  display: flex;
  flex-direction: row;
}

.custom-column {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
}

.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  gap: 8px;
  border-radius: 6px;
  background: #e98c20;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.base-outline-button {
  display: inline-flex;
  padding: 9px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  color: #121f0a;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
